extends layout

block content
  div(class="container-fluid")
  
    if (err)
        div
            h2(style = "color: red;")= err
  
    img(src="https://avatars0.githubusercontent.com/PCengineer48?&s=128" alt="My Face")
    p
      a(href="mailto:sedatcan_92@hotmail.com") 
        i(class="fa fa-envelope fa-fw")
      a(href="https://github.com/PCengineer48" target="_blank") 
        i(class="fa fa-github fa-fw")
      a(href="https://tr.linkedin.com/in/sedat-can-uygur-1b225473" target="_blank") 
        i(class="fa fa-linkedin")
      a(href="http://codepen.io/SedatUygur" target="_blank") 
        i(class="fa fa-codepen")
      a(href="http://www.freecodecamp.com/pcengineer48" target="_blank")
        i(class="fa fa-fire fa-fw")
    p Created by Sedat Can Uygur.
    h1(class="header")
      | URL Shortener Service
    blockquote
      p User stories:
      ul
        li I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</ul>
        li When I visit that shortened URL, it will redirect me to my original link.</ul>
    h3 Example creation usage:
    code.
        https://url-shortener-project.herokuapp.com/new/https://www.google.com
    br
    code.
        https://url-shortener-project.herokuapp.com/new/http://freecodecamp.com/news
    h3 Example creation output
    code.
      {
        "original_url":"https://www.google.com/",
        "short_url":"https://url-shortener-project.herokuapp.com/2871"
      }
    h3 Usage:
    code https://url-shortener-project.herokuapp.com/2871
    h3 Will redirect to:
    code.
        https://www.google.com/
